$max-width:1920px;
$min-width:320px;
$padd-side:64px; 
$fz-main: 14px;
$fz-h1:100px;
$fz-h2:30px;
$input-height:$fz-main *2;
$input-width:320px;
$header-height:120px;
$logo-width:225px;
$transition:.35s;
$top-padding:270px;
$top-bg-height:720px;
$top-img-height:800px;
